<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>jfefehf<h1>
        <form action='/analizeframe' methood='get'>
            <textarea name='text' style="height: 359px; width: 582px;">

            </textarea>

        <input type="checkbox" name="removepunc">    Remove Punctuations  <br>
        <button type='submit'> Analyze Text</button>
    

    </form>
  </body>
</html> 
